* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* gallary nav */
#slide-nav {
  width: 100%;
}

.container-i {
  margin: 0px auto !important;
  text-align: center;
}

#first {
  color: #0a8ed8;
}

#first::after {
  content: "";
  color: #0a8ed8;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: 300ms ease-out;
  position: absolute;
  width: 100%;
}

.main-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin-top: 80px !important;
  margin-bottom: 30px !important;
}

.list_item {
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0px;
}

#slide-nav .slidep {
  font-size: 15px;
  font-weight: 400;
  color: #93959c;
  line-height: 23px;
}

.link-list {
  color: #212529;
  text-decoration: none;
  padding: 10px;
  position: relative;
  opacity: 0.8;
}

.link-list:hover {
  color: #0a8ed8;
}

.link-list::after {
  content: "";
  background-color: #0a8ed8;
  bottom: 0;
  left: 50%;
  height: 2px;
  transition: 300ms ease-out;
  position: absolute;
  width: 0%;
}
.link-list:hover::after {
  left: 0;
  width: 100%;
}

:root {
  --darkMode: #373844;
}

/* SPONSORS */
.sm-section {
  padding: 40px 0px;
}

.gallery-container {
  display: grid;
  gap: 20px;
  width: 95%;
  display: grid;
}

.gallery-card {
  position: relative;
}

.img2 .description,
.img7 .description,
.img10 .description {
  bottom: 30px;
}

.gallery-image > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

/* darkmode */
.dark-mode {
  background-color: var(--darkMode);
  color: white;
}
#darkModeBtn {
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 2;
  height: 52px;
  width: 52px;
  border-radius: 50%;
}
.fa-moon-hide {
  display: none !important;
}
.fa-sun-o {
  display: none !important ;
}
.fa-sun-show {
  display: block !important;
}

.line {
  margin-top: 10px !important;
}

.nav-item {
  font-weight: 500 !important;
  font-size: 16px !important;
}

.number {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 7.5px;
    background:rgb(243, 99, 15);
    border: none;
    color: #000;
    width: 20px;
    height: 20px;
    font: 15px Arial, sans-serif;
    color: white;
    margin-left: -12px;
    margin-top: 5px;
}

.number-1{
    position: relative;
    color: white;
    font-size: 10px;
}

.log {
  font-weight: 600 !important;
  font-size: 18px !important;
}

/*Gallery Section Styles*/
#gallery {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.description {
  border-radius: 8px;
  position: absolute;
  color: #3a3b46;
  background-color: #fff;
  box-shadow: 1px 1px 7px 0px rgb(58 59 70 / 9%);
  bottom: 0;
  right: 15px;
  left: 15px;
  padding: 1rem 1rem;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.gallery-card:hover .description {
  overflow: visible;
  opacity: 1;
  transform: translateY(-12%);
}

.title {
  color: #3a3b46;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 8px;
}

.category {
  color: #93959c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

footer input {
  margin-right: 8px;
  background-color: #f7f8f9;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  width: 50%;
}

.copyright {
  font-size: 14px;
  line-height: 21px;
  color: #93939c;
  font-weight: 400;
}

.footer-form > button {
  padding: 10px 18px;
}

footer {
  margin-top: 80px;
}

.contact {
  font-size: 16px;
  line-height: 19px;
  color: #3a3b46;
  font-weight: 600;
}

.contact-num {
  font-size: 14px;
  color: #93939c;
  line-height: 21px;
  font-weight: 400;
}
.contact-wrapper {
  margin-left: auto;
}
.social-media-circle {
  border-radius: 50%;
  border: 1px solid #c5c5c7;
  height: 30px;
  text-align: center;
  width: 30px;
}

.social-media-circle:hover {
  cursor: pointer;
  color: blue;
  border: 1px solid blue;
}

/* FOOTER */
.footer-text {
  color: #93959c;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.social-icon:hover {
  color: #0077ff !important;
}

.social-icon {
  height: 14px;
  filter: brightness(0) contrast(0);
}

.team-members-social {
  background-color: #ffffff;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 20px;
  height: 40px;
  width: 40px;
}
/* FOOTER */

@media (min-width: 768px) {
  .img1 {
    grid-area: img1;
  }

  .img2 {
    grid-area: img2;
  }

  .img3 {
    grid-area: img3;
  }

  .img4 {
    grid-area: img4;
  }

  .img5 {
    grid-area: img5;
  }

  .img6 {
    grid-area: img6;
  }

  .img7 {
    grid-area: img7;
  }

  .img8 {
    grid-area: img8;
  }

  .img9 {
    grid-area: img9;
  }

  .img10 {
    grid-area: img10;
  }

  .img11 {
    grid-area: img11;
  }

  .img12 {
    grid-area: img12;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "img1 img2"
      "img3 img2"
      "img5 img4"
      "img7 img6"
      "img7 img8"
      "img9 img10"
      "img11 img10"
      ". img12";
    gap: 20px;
    width: 85%;
  }

  .img4,
  .img6,
  .img8,
  .img10,
  .img9,
  .img11 {
    position: relative;
    top: -20px;
  }

  .img12 {
    top: -40px;
  }
}

@media (min-width: 992px) {
  .img10,
  .img8,
  .img4 {
    top: 0;
  }

  .img6,
  .img9,
  .img11,
  .img12 {
    position: relative;
    top: -20px;
  }

  .gallery-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "img1 img2 img3"
      "img4 img2 img5"
      "img7 img6 img8"
      "img7 img9 img10"
      "img11 img12 img10";
    gap: 20px;
  }
}
