* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root{
    --darkMode:#373844;
}



/* SPONSORS */
.sm-section {
    padding: 40px 0px;
}

img.mx-auto {
    width: 146.14px;
}

.sponsors-section .sponsors-box img {
    transition: all 0.4s ease-in-out;
    height: 40px;
    opacity: 0.65;
}

.sponsors-box img:hover {
    opacity: 1;
}

/* } SPONSORS */

/* darkmode */
.dark-mode {
    background-color: var(--darkMode);
    color: white;
}
#darkModeBtn{
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 2;
    height: 52px;
    width: 52px;
    border-radius: 50%;

}
.fa-moon-hide{
    display: none !important;
}
.fa-sun-o{
    display: none !important ;
}
.fa-sun-show{
    display: block !important;
}